{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Tentang Kami</h1>
    <p><strong>Selamat Datang di Sistem Rekomendasi Jurnal Bisnis Digital!</strong></p>
    <p>Di era informasi yang berkembang pesat ini, menemukan jurnal (bisnis digital) yang tepat untuk kebutuhan penelitian dan tugas mahasiswa Bisnis Digital bisa menjadi tantangan. Kami di Sistem Rekomendasi Jurnal Bisnis Digital berkomitmen untuk memudahkan proses tersebut. Dengan menggunakan data jurnal terkini dari Scopus, salah satu database referensi peer-reviewed terbesar dan paling terpercaya, kami menyediakan rekomendasi yang akurat dan relevan untuk peneliti, akademisi, dan siapa saja yang tertarik pada bidang bisnis digital.</p>
    
    <h3>Bagaimana Sistem Kami Bekerja?</h3>
    <p>Sistem kami menggunakan teknologi canggih untuk menganalisis dan memahami isi dari ribuan jurnal. Berikut adalah gambaran sederhana tentang cara kerja sistem kami:</p>
    <ul>
        <li><strong>Pengumpulan Data</strong>: Kami mengumpulkan data dari Scopus, yang mencakup judul, abstrak, dan informasi penting lainnya dari berbagai jurnal di bidang bisnis digital.</li>
        <li><strong>Analisis Teks</strong>: Dengan menggunakan teknik pemrosesan bahasa alami, sistem kami menganalisis teks dari judul dan abstrak untuk memahami topik dan konten dari setiap jurnal.</li>
        <li><strong>Pencocokan Kecocokan</strong>: Ketika Anda memasukkan kata kunci pencarian, sistem kami mencari melalui database kami untuk menemukan jurnal yang paling relevan dengan topik yang Anda cari.</li>
        <li><strong>Rekomendasi</strong>: Berdasarkan analisis tersebut, sistem kemudian merekomendasikan jurnal yang paling sesuai dengan kebutuhan Anda, memudahkan Anda untuk menemukan sumber penelitian yang paling relevan dan terpercaya.</li>
    </ul>
    
    <p>Kami berharap dengan menggunakan sistem rekomendasi kami, Anda dapat menghemat waktu dan usaha dalam mencari literatur penelitian, memungkinkan Anda untuk lebih fokus pada aspek penting dari pekerjaan penelitian Anda. Jika Anda memiliki pertanyaan atau saran topik jurnal yang harus ditambah, jangan ragu untuk menghubungi kami melalui halaman Saran di pojok kanan atas.</p>
</div>
{% endblock %}