{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1>Register</h1>

    <form method="post" class="mb-4">
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" name="name" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control {% if username_error %}is-invalid{% endif %}" id="username" required>
            {% if username_error %}
            <div class="invalid-feedback">
                Username already registered. Please choose a different one.
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control {% if email_error %}is-invalid{% endif %}" id="email" required>
            {% if email_error %}
            <div class="invalid-feedback">
                Email already registered. Please choose a different one.
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.</p>
</div>
{% endblock %}